body{
  margin-left: 10vw;
  margin-top: 10vh;
  border: 5px solid deepskyblue;
  border-radius: 10px;
  width: 400px;
}
.form-step {
  margin-bottom: 20px;
}
h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
label {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}
input, textarea {
  padding: 5px;
  float: right;
  margin-bottom: 10px;
}
button[type='submit'] {
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  width: 200px;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: center;
}
button[type='submit']:hover {
  background-color: #45a049;
}
button[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
  display: none;
}
button[type='button'] {
  background-color: #808080;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
button[type='button']:hover {
  background-color: #6b6b6b;
}
